<div>
  <h4>form</h4>
  名前:
  <input name="name" placeholder="name" [(ngModel)]="model.name" />
  <br />
  <br />
  性別:
  <input type="radio" id="male" name="genderCode" [value]="1" [(ngModel)]="model.genderCode" [checked]="model.genderCode === 1" />
  <label for="male" style="padding-right:8px">男性</label>
  <input type="radio" id="female" name="genderCode" [value]="2" [(ngModel)]="model.genderCode" [checked]="model.genderCode === 2" />
  <label for="female">女性</label>
  <br />
  <br />
  <button (click)="onCreate()">登録</button>
  <br />
</div>
